@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  height: calc(4% + 1rem);
}

.main{
  height: 96%
}
.swal2-actions{
  background-color: rgb(76, 76, 255);
  color: white;
  border-radius: 10%;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #1f2937;
}
